/*
Font: 		
Style: 		
URL: 		https://youworkforthem.com/font/T19396/prosa
Foundry: 	Luis Bandovas
Foundry: 	https://youworkforthem.com/designer/1413/luis-bandovas
Copyright:	
Version: 	17
Created:	June 22, 2023
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Prosa-Light';
	src: url('prosa-light.woff2') format('woff2'),
	     url('prosa-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
