    <footer class="footer">
        <ul>
            <li><a href="<%= baseUrl %>terms_and_conditions.html">Terms & Conditions</a></li>
            <li>©Potions 2025. All rights reserved.</li>
            <li><a href="<%= baseUrl %>private_policy.html">Privacy Policy</a></li>
        </ul>
    </footer>